<ion-header>
    <ion-toolbar>
        <ion-title>Producto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
        <img src='{{img}}' alt="">
        <ion-card-header>
            <ion-card-title>{{nombre}}</ion-card-title>
            <ion-card-subtitle>Celulares</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            {{description}}
        </ion-card-content>
    </ion-card>

    <ion-button (click)="presentActionSheet()">Opciones</ion-button>
    <ion-button (click)="closeModel()">Cerrar</ion-button>
</ion-content>