<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <div class="ion-text-justify">
            <ion-title>
                INICIO
            </ion-title>
        </div>

        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <div class="ion-text-center">
        <ion-text color="secondary">
            <h2>Bienvenid@ a: </h2>
        </ion-text>
    </div>
    <div class="ion-text-center">
        <img src="../../assets/testimg/logo.png" alt="">
    </div>



</ion-content>


<ion-footer>
    <ion-toolbar>
        <ion-title size="small">&copy; Autores: Jefry Navas, Edwin Hernández</ion-title>
    </ion-toolbar>
</ion-footer>